@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.nav {
    display: flex;
    height: 127px;
    width: 100%;
    background-color: #005A87;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0 100px;
    flex-wrap: wrap;
}

.nav img {
    height: 72px;
    margin-left: 48px;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
}

.tabs {
    margin-left: 500px;
}

.nav ul li {
    margin-top: 15px;
    margin-right: 35px;
    ;
}

.nav ul li a {
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 2px 2px #6262625c;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 22px;

}

.nav ul li a.active,
.nav ul li a:hover {
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.096);
    text-decoration: none;

}

.nav .menu-btn i {
    color: rgb(255, 255, 255);
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    .nav {
        padding: 0 20px 0 20px;
    }

    .tabs {
        margin-left: 0px;
    }

    .nav-social-icons {
        display: none;
    }

    .nav img {
        height: 52px;
        margin-left: 10px;
    }
}

@media (max-width: 920px) {
    .nav .menu-btn i {
        display: block;

    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    .nav ul {
        z-index: 1001;
        position: fixed;
        top: 127px;
        left: -100%;
        background: #005A87;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.1s ease;
    }

    #click:checked~ul {
        left: 0%;
    }

    .nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    .nav ul li a {
        text-transform: uppercase;
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: all 0.1s ease;
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }
}

/* Footer */

.footer-content {
    margin: 0px 121px 0px 121px;
}

.container-fluid {
    background-color: #005A87;
    padding: 50px 0px 100px 0px;
}

.logo-footer img {
    height: 195px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.footer-heading {
    font-weight: 700;
    font-size: 28px;
    color: #FFFFFF;
}

.footer-list {
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
}

.footer-list a {
    color: #FFFFFF;
}

.footer-list a:hover {
    color: #FFFFFF;
}

.footer-social-icons {
    margin-top: -50px;
    margin-left: 230px;
    transform: scale(150%);
}

.footer-fa {
    color: white;
    margin-left: 25px;
    transform: scale(170%);
}

.rights {
    border-top: 1px solid white;
    background-color: #005A87;
    padding: 25px;
}

.rights h3 {
    text-align: center;
    font-weight: 400;
    font-size: 20.0805px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

@media only screen and (max-width: 600px) {

    .container-fluid {
        text-align: center;
        padding: 20px;
    }

    .first-link {
        padding-top: 50px;
    }

    .footer-social-icons {
        display: flex;
        margin-top: 50px;
        margin-left: 0px;
        justify-content: center;
    }

    .footer-fa {
        color: white;
        margin-right: 20px;
        transform: scale(170%);
    }

    .logo-footer {
        display: flex;
        justify-content: center;
    }
}

/* main */

.bg-img {
    width: 100%;
}

.main-logo img {
    height: 130px;
    margin-top: -85%;
    margin-left: 121px;
}

.main-logo p {
    font-weight: 500;
    font-size: 27px;
    color: #FFFFFF;
    margin-top: -30%;
    margin-left: 121px;
    line-height: 35px;
}

@media only screen and (max-width: 750px) {

    .main-logo img {
        display: none;
    }

    .main-logo p {
        font-size: 20px;
        margin-top: -50%;
        margin-left: 0px;
        line-height: 20px;
        text-align: center;
    }

}

.search-box {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 40%;
    height: fit-content;
    margin-top: -14%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 82, 151, 0.7);
    border-radius: 9.95176px;
    padding: 19px;
}

.search-box-about {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 40%;
    height: fit-content;
    margin-top: -37%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 82, 151, 0.7);
    border-radius: 9.95176px;
    padding: 19px;
}

.search-box-vac {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 40%;
    height: fit-content;
    margin-top: -50%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 82, 151, 0.7);
    border-radius: 9.95176px;
    padding: 19px;
}

.search-box-desc {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 40%;
    height: fit-content;
    margin-top: -25%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 82, 151, 0.7);
    border-radius: 9.95176px;
    padding: 19px;
}

/* .search-box2 {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 1065px;
    height: 100px;
    margin-top: 150px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 82, 151, 0.7);
    border-radius: 9.95176px;
    padding: 19px;
} */

.search-bar {
    height: fit-content;
    font-size: 24px;
    width: 100%;
    background: #FFFFFF;
    padding: 13px;
    color: #003F69;
    border-radius: 5px;
    border: 0px;
}

.select-sector {
    height: 63px;
    width: 100%;
    font-size: 24px;
    padding: 13px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0px;

}

.search {
    border-radius: 5px;
    height: 63px;
    width: 100%;
    font-size: 24px;
    padding: 13px;
    color: #FFFFFF;
    background: #003D70;
    border: 0px;

}

.testimonial {
    padding: 80px 0;
}

.sec-heading {
    margin-bottom: 60px;
}

.job-status {
    width: fit-content;
    height: fit-content;
    background-color: #1677A7;
    border-radius: 19.5821px;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
    padding: 5px 20px 5px 20px;
}

.job-name {
    font-weight: 500;
    font-size: 24px;
    color: #003D70;
}

.job-detail {
    display: flex;
    justify-content: left;
    align-items: center;
}

.job-detail-main {
    margin: 30px 30px 30px 30px;
}

.fa {
    transform: scale(200%);
}

.single-box {
    border: 3px solid #e6f0fa;
    padding: 27px 27px 27px 27px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
}

.detail {
    margin-top: -4px;
    margin-bottom: 20px;
    width: 250px;
    font-weight: 400;
    font-size: 22px;
    color: #003D70;
}

.img-area {
    margin: 45px 0 20px;
}

.single-box img {
    max-width: 100px;
    border-radius: 50%;
    margin: 0 auto
}

.single-box h4 {
    font-weight: 600;
    margin: 0;
    font-size: 35px;
}

.single-box {
    overflow: hidden
}

.single-box .img-area {
    width: 30%;
    float: left;
    margin: 0
}

.single-box .content {
    width: 70%;
    float: left;
    padding-left: 10px
}

.single-box p {
    margin: 0px 0px 0px 0px;
}

.employee-name {
    font-weight: 500;
    font-size: 26px;
    color: #003D70;
}

.employee-qual {
    font-weight: 500;
    font-size: 20px;
    color: #003D70;
}

.jobs-car {
    margin-top: 105px;
}

.testi-carousel-three .single-box {
    border: 0;
    padding: 0 50px;
}

.testi-carousel .owl-dots,
.clients-carousel .owl-dots,
.testi-carousel-three .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    text-align: center;
    width: 100%;
}

.testi-carousel .owl-dot,
.clients-carousel .owl-dot,
.testi-carousel-three .owl-dot {
    width: 16px;
    height: 16px;
    background-color: #ddd;
    display: inline-block;
    margin: 0 6px;
    text-align: center;
    border-radius: 50%;
}

.see-vac {
    margin-top: 65px;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
}

.see-vac a {
    color: #FFFFFF;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.see-vac a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
    .testimonial {
        padding: 70px 0 130px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
    .testimonial {
        padding: 70px 0 130px;
    }

    .single-box {
        padding: 50px 0 40px;
    }

    .single-box .img-area {
        width: 100%;
        float: none;
    }

    .single-box .content {
        width: 100%;
        float: none;
    }

}

/* Features */

.features-section {
    margin-top: 10%;
}

.feature-row {
    margin-bottom: 10%;
}

.divider {
    border-top: 18px solid;
    width: 165px;
    opacity: 1;
    border-color: #003D70;
    /* float: left; */
}

.divider-white {
    margin-left: 121px;
    border-top: 15px solid;
    width: 165px;
    opacity: 1;
    border-color: #ffffff;
    float: left;
}

.divider-right {
    border-top: 18px solid;
    width: 165px;
    opacity: 1;
    border-color: #003D70;
    float: right;
}

.f-img {
    width: 500px;
    height: 338px;
    filter: drop-shadow(4px 4px 11px rgba(0, 0, 0, 0.26));
    border-radius: 5px;
}

.f-heading {
    margin-top: 50px;
    font-weight: 600;
    font-size: 27px;
    line-height: 38px;
    text-transform: uppercase;
    color: #003D70;
}

.f-para {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #003D70;
    opacity: 0.7;
}

.vac-heading {
    margin-top: 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    text-transform: uppercase;
    color: #003D70;
}

.vac-para {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #003D70;
    opacity: 0.7;
}

.vac-list {
    font-weight: 400;
    font-size: 22px;
    line-height: 45px;
    color: #003D70;
    opacity: 0.7;
}

#submit {
    background-color: #005A87;
    color: white; /* set the text color to white for better contrast */
  }

.f-heading-right {
    margin-top: 50px;
    font-weight: 600;
    font-size: 27px;
    line-height: 38px;
    text-transform: uppercase;
    text-align: right;
    color: #003D70;
}

.f-para-right {
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-align: right;
    color: #003D70;
    opacity: 0.7;
}

.f-heading-white {
    margin-top: 50px;
    margin-left: 121px;
    font-weight: 600;
    font-size: 27px;
    line-height: 38px;
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
}

.latest-vac {
    text-align: right;
    width: 100%;
    height: 950px;
    background: #0889CB;
}

.triangle {
    margin-top: 37px;
    position: absolute;
    height: 100px;
    transform: translate(-50%, -50%);
    left: 50%;
    right: 50%;
}

@media only screen and (max-width: 750px) {
    .divider {
        display: none;
    }

    .divider-right {
        display: none;
    }

    .f-heading {
        text-align: center;
    }

    .f-para {
        text-align: center;
    }

    .f-heading-right {
        text-align: center;
    }

    .f-para-right {
        text-align: center;
    }

    .f-heading-white {
        display: none;
    }

    .divider-white {
        display: none;
    }

    .jobs-car {
        display: none;
    }

    .triangle {
        display: none;
    }

    .search-box {
        width: 90%;
        margin-top: 15%;
    }

    .search-box-about {
        width: 90%;
        margin-top: 5%;
    }

    .section-search-vac{
        margin-top: -90%;
    }

    .section-search-desc{
        margin-top: -90%;
    }

    .search-box-vac {
        display: none;
    }

    .search-box-desc {
        display: none;
    }

    .desc-area{
        margin-top: -90%;
    }

    .about-us {
        margin-top: 100%;
    }

    .search-bar {
        margin-bottom: 5px;
    }

    .select-sector {
        margin-bottom: 5px;
    }

    .latest-vac {
        height: 200px;
    }

    .f-img {
        transform: scale(50%);
    }

    .features-section {
        margin-top: 90%;
    }

}

.person {
    display: flex;
    align-items: center;
}

.profile-pic {
    margin: 0px 0px 0px 0px;
    height: 92px;
    border-radius: 50%;
}

.name-position {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.name {
    margin: 0;
    font-weight: 500;
    font-size: 22px;
    color: #003D70;
}

.position {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    color: #003D70;
}

.card-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    text-transform: capitalize;
    color: #003D70;
}

.card-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #003D70;
    opacity: 0.7;
}

.card-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
    color: #003D70;
}

.search-vac-box {
    padding: 27px 15px 27px 15px;
    height: fit-content;
    background: rgba(22, 119, 167, 0.3);
    border-radius: 25px;
}

.saerch-vac-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-transform: capitalize;
    color: #003D70;
}

.search-vac-input {
    padding: 15px;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 0.5px solid #003D70;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), inset 4px 4px 10px rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}

.search-vac-select {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 0.5px solid #003D70;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), inset 4px 4px 10px rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}

.search-vac-button {
    color: white;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 50px;
    background: #003D70;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), inset 4px 4px 10px rgba(255, 255, 255, 0.3);
border-radius: 35px;
}

.search-vac-card-p{
    font-weight: 300;
    font-size: 17px;
    line-height: 23px;
    color: #003D70;
    
}